@use '../util/' as *;

.attribution {
  position: fixed;
  padding: 0 0 0 1.5rem;
  background: linear-gradient(var(--Very-dark-desaturated-blue) 0%, var(--photography-text) 100%);
  border-radius: 50px;
  bottom: 10px;
  right: 10px;
  width: 4rem;
  height: 4rem;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  text-align: left;
  line-height: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;

  &__text {
    transition: 0.3s 0.3s;
    opacity: 0;
    min-width: 19rem;
    margin: 0.2rem 0 0;
    color: var(--White);
    &--a {
      color: var(--Soft-red);
    }
  }

  &__img {
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 4rem;
    border: 4px solid var(--Soft-red);
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease-in-out;
  }
  
  &:hover {
    width: 19.5rem;
    border-radius: 50px;
    .attribution__text {
      opacity: 1;
    }
  }
}
